<?xml version="1.0"?>

<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="redisCacheName" value="181.116.194.158:6380" />
  <add key="redisCachePassword" value="kZo+WNod+uVmXfkmf2vjHigQv6eMb9nz0CCOzQ5VWGI=" />
  <add key="redisCacheuseSSL" value="false" />

</appSettings>
