<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Retrieve these values using the "Keys" blade your Redis Cache account in the Azure Mngt Portal (portal.azure.com) -->
    <add key="redisCacheName" value="EntitiesWrapper.redis.cache.windows.net"/>
    <add key="redisCachePassword" value="+5xzAf97t6LOX9Wb8R+9mQ2D4ZeifO5k3Lhr0jswE9k="/>
  </appSettings>
</configuration>
